
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Upload Zipped File</title>
        <!-- Include Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Attendance Tracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/viewclasses">View my classes</a>
                    <a class="dropdown-item" href="/logout">logout</a>
                </div>
            </div>
        </nav>

        <br />
        <br />
        <br />

        
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">CMPE272_Spring_23</h5>
                <p class="card-text">4 images</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CMPE272_Spring_23-modal">
                  View images
                </button>
              </div>
            </div>
        
            <div class="modal fade" id="CMPE272_Spring_23-modal" tabindex="-1" role="dialog" aria-labelledby="CMPE272_Spring_23-modal-label" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="CMPE272_Spring_23-modal-label">CMPE272_Spring_23 images</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
        
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="Classes/admin/CMPE272_Spring_23/mahesh001.PNG" class="card-img-top" alt="mahesh001.PNG">
                      </div>
                    </div>
                
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="Classes/admin/CMPE272_Spring_23/rohit_001.PNG" class="card-img-top" alt="rohit_001.PNG">
                      </div>
                    </div>
                
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="Classes/admin/CMPE272_Spring_23/shiva_001.PNG" class="card-img-top" alt="shiva_001.PNG">
                      </div>
                    </div>
                
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="Classes/admin/CMPE272_Spring_23/trivikram_001.PNG" class="card-img-top" alt="trivikram_001.PNG">
                      </div>
                    </div>
                
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">CMPE295B_Spring_23</h5>
                <p class="card-text">5 images</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CMPE295B_Spring_23-modal">
                  View images
                </button>
              </div>
            </div>
        
            <div class="modal fade" id="CMPE295B_Spring_23-modal" tabindex="-1" role="dialog" aria-labelledby="CMPE295B_Spring_23-modal-label" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="CMPE295B_Spring_23-modal-label">CMPE295B_Spring_23 images</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
        
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="./Classes/admin/CMPE295B_Spring_23/gp.PNG" class="card-img-top" alt="gp.PNG">
                      </div>
                    </div>
                
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="./Classes/admin/CMPE295B_Spring_23/mahesh001.PNG" class="card-img-top" alt="mahesh001.PNG">
                      </div>
                    </div>
                
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="Classes/admin/CMPE295B_Spring_23/rohit_001.PNG" class="card-img-top" alt="rohit_001.PNG">
                      </div>
                    </div>
                
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="Classes/admin/CMPE295B_Spring_23/shiva_001.PNG" class="card-img-top" alt="shiva_001.PNG">
                      </div>
                    </div>
                
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img src="Classes/admin/CMPE295B_Spring_23/trivikram_001.PNG" class="card-img-top" alt="trivikram_001.PNG">
                      </div>
                    </div>
                
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>